a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #FFC046;
}

/* selected link */
a:active {
    color: #FFDC70;
}


/* color of navbar changes here */
.navbar{
    background-color:#34FF99;
}