 body {
        font-family: 'Graduate', cursive;
      }


a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #FFC046;
}

/* selected link */
a:active {
    color: #FFDC70;
}


/* color of navbar changes here */
.navbar{
    background-color:#A687FF;
}


/* logo picture handler */
.logoimg{
      display: block;
      max-width:230px;
      max-height:95px;
      width: auto;
      height: auto;
}


/* changes color of navbar text */
.nav li.nav-link a {
  color: white;
}

/* changes color of dropdown text in navbar */
.nav ul.dropdown-menu a{
    color:black;
}

input[type="text"]
{


    font-family: 'Comfortaa', cursive;

}

input[type='email']
{
    font-family: 'Comfortaa', cursive;

}
input[type='password']
{
    font-family: 'Comfortaa', cursive;

}